body
{
    overflow-x: hidden;
}

/* NAVBAR */

nav
{
    user-select: none;
}

.navbar-nav
{
    position: relative;
    margin: auto;
}

.dropdown:hover .dropdown-menu
{
    display: block;
}

.dropdown-menu
{
    margin-top: 0;
}

.navbar-brand
{
    font-size: 150%;
}

.nav-link
{
    text-transform: uppercase;
}

.nav-link.dropdown-toggle
{
    cursor: pointer;
}

.dropdown-active
{
    font-weight: bold;
    pointer-events: none;
    text-decoration: none;
    cursor: pointer;

}




/* CAROUSEL */


.carousel-item
{
    height: 800px;
}



/* FONTS */

@font-face
{
    font-family: adidasRegular;
    src: url(fonts/adidas-regular.otf);
}

@font-face
{
    font-family: adidasBold;
    src: url(fonts/adidas-bold.otf);
}

@font-face
{
    font-family: adidasBoldItalic;
    src: url(fonts/adidas-bolditalic.otf);
}

@font-face
{
    font-family: adidasItalic;
    src: url(fonts/adidas-italic.otf);
}

@font-face
{
    font-family: balenciagaRegular;
    src: url(fonts/balenciaga.ttf);
}

@font-face
{
    font-family: balenciagaRegular;
    src: url(fonts/balenciaga.ttf);
}

@font-face
{
    font-family: gucciRegular;
    src: url(fonts/gucci.ttf);
}

@font-face
{
    font-family: yeezyRegular;
    src: url(fonts/yeezy.ttf);
}

.adidas-font
{
    font-family: 'adidasBold';
}

.balenciaga-font
{
    font-family: 'balenciagaRegular';
    text-transform: uppercase;
    font-size: 120%;
}

.gucci-font
{
    font-family: 'gucciRegular';
    text-transform: uppercase;
    font-size: 120%;
}

.yeezy-font
{
    font-family: 'yeezyRegular';
    text-transform: uppercase;
    font-size: 120%;
}

.dropdown-item > .adidas-font
{
    font-size: 120%;
}

.gucci_font
{
    font-family: 'Raleway', sans-serif;
}

.card li
{
    list-style-type: none;
}


/* INDEX */

.adiclub
{
    height: 77px;
    background-color: rgb(255, 208, 0);
}

.adiclub p
{
    margin-top: 7px;
    margin-left: auto;
    margin-right: 10px;
    text-transform: uppercase;
    font-family: adidasBoldItalic;
    text-align: center;
    font-size: 250%;
}

.index-text
{
    text-align: justify;
}

.index-text > div
{
    
}





/* BUTTON */

.button-27 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "adidasBold",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin-top: 7px;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}