/* NAVBAR */

nav
{
    user-select: none;
}

.navbar-nav
{
    position: relative;
    margin: auto;
}

.dropdown:hover .dropdown-menu
{
    display: block;
}

.dropdown-menu
{
    margin-top: 0;
}

.navbar-brand
{
    font-size: 150%;
}

.nav-link
{
    text-transform: uppercase;
}

.nav-link.dropdown-toggle
{
    cursor: pointer;
}

a[target=#]
{
    font-weight: bold;
    pointer-events: none;
    text-decoration: none;
    cursor: pointer;

}






/* FONTS */

@font-face
{
    font-family: adidasRegular;
    src: url(fonts/adidas-regular.otf);
}

@font-face
{
    font-family: adidasBold;
    src: url(fonts/adidas-bold.otf);
}

@font-face
{
    font-family: adidasBoldItalic;
    src: url(fonts/adidas-bolditalic.otf);
}

@font-face
{
    font-family: adidasItalic;
    src: url(fonts/adidas-italic.otf);
}

@font-face
{
    font-family: balenciagaRegular;
    src: url(fonts/balenciaga.ttf);
}

@font-face
{
    font-family: balenciagaRegular;
    src: url(fonts/balenciaga.ttf);
}

@font-face
{
    font-family: gucciRegular;
    src: url(fonts/gucci.ttf);
}

@font-face
{
    font-family: yeezyRegular;
    src: url(fonts/yeezy.ttf);
}

.adidas-font
{
    font-family: 'adidasBold';
}

.balenciaga-font
{
    font-family: 'balenciagaRegular';
    text-transform: uppercase;
    font-size: 120%;
}

.gucci-font
{
    font-family: 'gucciRegular';
    text-transform: uppercase;
    font-size: 120%;
}

.yeezy-font
{
    font-family: 'yeezyRegular';
    text-transform: uppercase;
    font-size: 120%;
}

.dropdown-item > .adidas-font
{
    font-size: 120%;
}
